@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* shared styles */

body{

    background-color: #F5F8FF;
}

img{

    max-width: 100%;
    height: auto;
}

h3{
    font-family: "Noto Serif", serif;
    font-size:50px;
    font-weight: bold;
    color: black;
}

p{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: rgba(0, 0, 0, 50%);
}

.flower-title{
    color: #111111;
    font-weight: medium;
}

.flower-price{
    color: #111111;
    font-weight: bold;
}

.orange-btn{
    background-color: #E95A08;
    padding: 25px 50px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-align: center;
}

.text-orange{
    color: #E95A08;
}


/* shared styles */

header{
    padding-top: 25px;
}

nav{

    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.nav{
    display: flex;
    gap: 50px;
    justify-content: center;
}

nav ul{

    display: flex;
    gap: 50px;
    align-items:center;
}

.nav-items{

    list-style: none;
}

.nav-items:hover a{
    color: #000000;
    font-weight: bold;
}

.active a{
    color: #000000!important;
    font-weight: bold;
}

.nav-items a{

    text-decoration: none;
    font-size: 16px;
    color: #8987A1;
    font-family: "Inter", sans-serif;

}

.cart{

    display: flex;
    align-items: center;
    gap: 10px;
}


.cart p{

    color: #000000;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}


.banner{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    align-items:last baseline;
}

.banner-details{
    max-width: 570px;
}

h1{
    font-family: "Noto Serif", serif;
    font-size:50px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}


main{

    max-width: 1140px;
    margin: 0 auto;
}







/* Responsive Styles */

@media screen and (max-width:576px) {

    header{

        padding-left: 25px;
        padding-right: 25px;
    }
    
    nav ul{
        display: none;
    }

    .cart{

        margin-top: 30px;
    }

    .banner{
        
        flex-direction: column-reverse;
        gap: 25px;
    }

    img{

        width: 100%;
    }

}